
<div class="widgets">
<div class="container">
 
  <div id="custom-search-input col-lg-8">
                            <div class="input-group ">
                                <input type="text" class="  search-query form-control" placeholder="Enter a key word" />
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <span class=" fa fa-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div> 
                         </div> 
  <div class="row">
  

   <div class="col-lg-12 col-md-12">
      <ba-card title="Categories" baCardClass="with-scroll table-panel">
        <hover-table></hover-table>
      </ba-card>
    </div>      
           
                      
<smart-tables>
</smart-tables>

  </div>
 
    </div>